@{
    ViewData["Title"] = "Products";
}
@model List<Listing>
<div class="row m-3 text-center col">
@foreach (var listing in Model)
{
    string backgroundColor = "gray";
    <a asp-action="CustListing" asp-route-listingId="@listing.ListingId" class="card test-center m-3 p-3 col col-2 text-center">
        <div class="col " id="imageContainer">
            @if (listing.SingleImage != null)
            {
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(listing.SingleImage.ImageData)" width="100%" />
            }
            else if (listing.Colors.Count > 0)
            {
                backgroundColor = listing.Colors.First().HexValue.ToString();
                <div class="text-center" style="width:100%; aspect-ratio=1/1; margin: 0 auto; position:relative; padding-bottom: 100%; background:@backgroundColor;"> </div>
            }
            else if (listing.ListingColorJTs.Count() > 0)
            {
                backgroundColor = listing.ListingColorJTs.First().ListingColor.HexValue.ToString();
                <div class="text-center" style="width:100%; aspect-ratio=1/1; margin: 0 auto; position:relative; padding-bottom: 100%; background:@backgroundColor;"> </div>
            }
        </div>
        
        <h3 class="text-center">@listing.ListingTitle</h3>
    </a>
}
</div>

