<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HipAndClavicle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HipAndClavicle.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-justified mx-auto text-nowrap justify-content-between">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="SearchByColor">Shop by Color</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="CustFindListings">Shop All Products</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">About</a>
                        </li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Contact" asp-action="AllCustomerMesseges">Customer Messeges</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Contact" asp-action="CustomerChat">CustomerChat</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Contact" asp-action="Index">Contact</a>
                            </li>
                        }

                        @*Add cart Icon for this link*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="cart" asp-area="" asp-controller="ShoppingCart" asp-action=""><img src="/images/cart.png" alt="Shopping Cart" /></a>
                        </li>

                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="login-partial">
        @await Html.PartialAsync("_LoginPartial.cshtml")
    </div>
    <div class="container">
        <main role="main" class="px-1">
            <div class="logo-login">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/images/hp-logo.png" width="100" alt="Site logo." />
                </a>
            </div>
            @RenderBody()

        </main>
    </div>


    <footer class="footer footer-basic border-top">

        <div class="social">
            <a href="#"><i class="icon ion-social-instagram"></i></a>
            <a href="https://www.pinterest.com/hipandclavicle/"><i class="icon ion-social-pinterest"></i></a>
            <a href="#"><i class="icon ion-social-twitter"></i></a>
            <a href="https://www.facebook.com/hipandclavicle/"><i class="icon ion-social-facebook"></i></a>
        </div>
        <ul class="list-inline footer-links">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Contact</a></li>
            <li class="list-inline-item"><a href="#">Shop by Color</a></li>
            <li class="list-inline-item"><a href="#">Shop by Category</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>

        <p class="copyright">Team 3 © 2023</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("CutomerChatScript", required: false)

</body>
</html>
