@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@{

}

<div class="text-nowrap my-1 mx-md-5">
    @if (SignInManager.IsSignedIn(User))
    {
        <ul style="list-style:none;" class="list-inline">
            <li class="logged-in">
                <a asp-controller="Account" asp-action="Index" asp-route-returnUrl="@Url.Action("Index", "Account")">Hello @User.Identity?.Name!</a>
                <form class="form-inline" method="post" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
                    <button type="submit" class="btn logout">Logout</button>
                </form>
            </li>
        </ul>
        if (User.IsInRole("Admin"))
        {
            <div class="bi-border-style-solid border-info border-2 rounded-2">
                <a class="btn btn-outline-info rounded-1" asp-action="Products" asp-controller="Admin"> Products</a>
            </div>
        }
    }
    else
    {
        <a asp-controller="Account" asp-action="Register">Register</a>

        <br />
        <a asp-controller="Account" asp-action="Login">Login</a>
    }
</div>

<link rel="stylesheet" href="~/css/site.css" />
