@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@{

}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<div>
    <ul class="py-2 shadow-lg-bottom shadow rounded-3 list-group list-group-horizontal-md">
        @if (SignInManager.IsSignedIn(User))
        {
            @*<li class="logged-in">
        <form class="form-inline" method="post" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
        <button type="submit" class="btn logout">Logout</button>
        </form>
        </li>*@
            <li class="list-inline-item mx-3">
                <a asp-controller="Account" asp-action="Index" asp-route-returnUrl="@Url.Action("Index", "Account")">Hello @User.Identity?.Name!</a>

            </li>
            <li class="list-inline-item mx-3">
                <a asp-controller="Account" asp-action="Logout">
                    Logout
                </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="list-inline-item mx-3">
                    <a asp-action="CustFindListings" asp-controller="Customer"> Listings</a>
                </li>
                <li class="list-inline-item mx-3">
                    <a asp-action="Products" asp-controller="Admin"> Products</a>
                </li>
                <li class="list-inline-item mx-3">
                    <a asp-action="CurrentOrders" asp-controller="Admin">Current Orders</a>
                </li>

            }
            <li class="list-inline-item mx-3">
                <a asp-action="Orders" asp-controller="Customer"> Your Orders</a>
            </li>

        }
        else
        {
            <li class="list-inline-item mx-3">

                <a asp-controller="Account" asp-action="Register">Register</a>
            </li>

            <li class="list-inline-item mx-3">
                <a asp-controller="Account" asp-action="Login">Login</a>
            </li>
        }
    </ul>
</div>

<link rel="stylesheet" href="~/css/site.css" />
