@model Product
@{
    IFormFile imageFile = Model.TempFile!;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/Product.css" />
@*Modal product edit window*@
<form method="post" asp-action="EditProduct" asp-controller="Product" enctype="multipart/form-data">
    <div>
        <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
        <div class="card mx-auto">

            @if (Model.ProductImage is not null)
            {
                <img class="card-img-top my-auto" width="@Model.ProductImage!.Width" src="data:image;base64,@Convert.ToBase64String(Model.ProductImage.ImageData)" alt="Product Image" id="img-edit-@Model.ProductId">
            }
            else
            {
                <img src="https://placeholder.com/100" class="card-img-top" id="img-edit-@Model.ProductId" />
            }

            <div class="card-body overflow-y-hidden">
                <div class="input-group">
                    <input asp-for="Name" class="form-control" type="text" />
                </div>
            </div>
            <a asp-action="DeleteProduct" asp-controller="Product" asp-route-productId="@Model.ProductId" class="bi bi-trash3 text-danger"></a>
        </div>
        <div class="input-group-sm">
            <span class="form-text">Edit Image</span>
            <input asp-for="TempFile" type="file" id="file-edit-@Model.ProductId" />

        </div>
        <div class="input-group">
            <span class="input-group-text"></span>
            <textarea asp-for="Description" class="mx-auto" rows="3" style="resize:none;"></textarea>
        </div>
        <input type="submit" class="btn btn-outline-success rounded-4 m-3" value="save" />
    </div>
</form>
<script>
    let cardImage = document.getElementById('img-edit-@Model.ProductId');
    let cardInput = document.getElementById('file-edit-@Model.ProductId');
    cardInput.onchange = () => {
        cardImage.src = URL.createObjectURL(cardInput.files[0]);
    }
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>