@model MerchantVM
@{
}
<table>
    <thead>
        <tr>
            <th>Qty</th>
            <th>Set Size</th>
            <th>Type</th>
            <th>Pulled</th>
            <th>Cut</th>
            <th>Glued</th>
            <th>Folded</th>
            <th>Stickered</th>
            <th>Box1</th>
            <th>Box2</th>
            <th>Labeled</th>
            <th>Shipped</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
</table>