

.color-splotch {
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    border-radius: 50%;
    display: inline-block;
    position: center;
    margin: 4px;
}

.card-description {
    visibility: hidden;
    transition: all ease-in-out 0.8s;
    color: white;
    position: absolute;
}

.card:hover .card-description {
    visibility: visible;
    opacity: .9;
    transition: all ease-in-out 0.8s;
}

.card:hover .card-body {
    transition: all ease-in-out 0.8s;
    backdrop-filter: brightness(50%);
}

.hide-instructions {
    visibility: hidden;
    color: white;
    font-size: 10pt;
    /*    transform: translateY(-25px);*/
    width: 100px;
}

.card:hover .hide-instructions {
    visibility: visible;
    transition: all ease-in-out 0.8s;
}

h1 {
    color: #fff;
    padding: 10px 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.8s;
    border: none;
    max-width: 200px;
    min-width: 200px;
    position: relative;
    margin-block: 2em;
}

.card-body {
    min-height: 10em;
    max-height: 10em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.text-muted i {
    margin: 0 10px;
}

.color-viewer {
    background-color: #08071a53;
    min-width: 100px;
    max-width: 100px;
    min-height: 40px;
    max-height: 40px;
    position: relative;
    margin-block: 0;
    margin-inline: auto;
    border-radius: 25px;
    padding-inline: 3px;
    padding-top: 4px
}

.nav-link:hover {
    background-color: #acc16f;
    color: white;
}