@model Product


<div class="card">
    <div class="hide-card">
        @if (Model.ProductImage is not null)
        {
            <img class="card-img-top" src="data:image;base64,@Convert.ToBase64String(Model.ProductImage.ImageData)" alt="Product Image">
        }
        else
        {

            <img src="~/images/butterflys.png" class="card-img-top" />
        }

    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="px-auto hide-instructions">
            @Model.Description
        </p>
        @*TODO set tooltip for color viewer.*@

        <a class="color-link" data-bs-toggle="offcanvas" href="#offcanvas-edit-product" role="button" aria-controls="offcanvas-edit-product">
            <div class="color-viewer">
                @foreach (Color color in Model.Colors)
                {
                    <div class="color-splotch" style="background-color:@color.HexValue;">
                    </div>
                    // TODO change where this link leads. This should change colors.
                }
            </div>
        </a>


    </div>

</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>