@{
}

@model UserMessageVM
<div class="row justify-content-center my-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create" asp-controller="Contact" method="post">

                    <div class="form-group">
                        <label class="control-label" asp-for="Email">Email:</label>
                        <input asp-for="Email" class="form-control" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Number">Phone Number:</label>
                        <input asp-for="Number" class="form-control" required />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Response">Message:</label>
                        <textarea asp-for="Response" class="form-control" required></textarea>
                        <span asp-validation-for="Response" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

