
/*
font-family: 'Amatic SC', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Nova Oval', cursive;
font-family: 'Manrope', sans-serif;
*/

.text-secondary {
    color: #4e803d !important;
    filter: contrast(4.5) saturate(2);
}

.align-bottom {
    vertical-align: bottom !important;
}

.align-top {
    vertical-align: top !important;
}

.order-table {
    box-shadow: #0f1d14cf 0 0 6px 3px;
}