@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Nova+Oval&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500;600;700&family=Amatic+SC:wght@400;700&family=Gloria+Hallelujah&family=Macondo&family=Secular+One&display=swap');
/*
font-family: 'Amatic SC', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Nova Oval', cursive;
font-family: 'Alkatra', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Macondo', cursive;
font-family: 'Secular One', sans-serif;

*/

html {
    font-size: 14px;
    position: relative;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.user-class {
    background-color: lightblue;
}

.nav-link {
    justify-content: space-around;
    transition: all .2s linear;
}

a:any-link.nav-link:hover {
    border-radius: 5px;
    background-color: #acc16f;
    outline: 2px solid #55681c;
    text-shadow: 2px 2px 3px #d0ede8;
    color: white;
    transition: all .2s linear;
}

body {
    min-height: 100vh;
    margin-bottom: 60px;
    padding-block: 10px;
}

.body {
    padding-block-end: 5em;
}


.logo-login {
    position: absolute;
    top: 5em;
    left: 3em;
    max-width: fit-content;
}

.login-partial {
    margin-block: .5em;
    max-width: fit-content;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
}

    .login-partial a:any-link {
        font-weight: 600;
        text-decoration: none;
        padding: .3em;
        border-radius: 5px;
        color: lightseagreen;
    }

        .login-partial a:any-link:hover {
            border-radius: 5px;
            background-color: #acc16f;
            outline: 2px solid #55681c;
            text-shadow: 2px 2px 3px #d0ede8;
            color: white;
            transition: all .2s linear;
        }

    .login-partial button {
        color: mediumturquoise;
    }



footer ul a {
    color: #dab8e8;
    text-decoration: none;
    opacity: 0.7;
}

.footer-basic {
    padding: 1em 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

    .footer-basic ul {
        padding: 0;
        margin-inline: auto;
        list-style: none;
        text-align: center;
        font-size: 16px;
        line-height: 1.6;
    }

    .footer-basic li {
        padding: 0 10px;
    }

    .footer-basic a:any-link:hover {
        opacity: 0.6;
    }

.social {
    text-align: right;
    right: 2em;
    margin-inline: 4em;
    position: absolute;
    width: fit-content;
    /*        padding-bottom: 1em;*/
}

.footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

    .footer-basic .social > a:hover {
        opacity: 0.9;
    }

.copyright {
    /*    margin-top: 15px;*/
    font-size: 13px;
    width: fit-content;
    position: absolute;
    bottom: 2em;
    margin-block: auto;
    margin-inline: 4em;
    color: #aaa;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.footer-links {
    position: relative;
    width: fit-content;
    margin: auto;
    margin-bottom: 3em;
}

.table-responsive {
    max-height: 60vh;
    overflow-y: scroll;
}

@media only screen and (max-width: 740px) {
    footer ul {
        visibility: hidden;
    }

    .copyright {
        margin-inline: 5px;
    }
}
