@model MerchantVM
@{
    ViewData["Title"] = "Product management";
    Model.Edit ??= new();
    int index = 0;
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" href="~/css/Product.css" />
<div class="product-list-view">


    <a asp-action="AddProduct" asp-controller="Product" class="sticky-lg-top">
        <img src="~/images/butterfly_icon.png" class="align-content-center" />
        <br />
        Add a Product
    </a>


    <div class="container d-flex flex-row flex-wrap m-lg-5">
        @foreach (var product in Model.Products)
        {

            <div class="col">
                <div class="card">

                    @*<a  data-bs-toggle="offcanvas" href="#offcanvas-edit-product" role="button" aria-controls="offcanvas-edit-product"><i class="bi bi-pencil"></i></a>*@
                    <div class="hide-card">
                        <div class="image-wrapper">
                            @if (product.ProductImage is not null)
                            {
                                <img class="card-img-top" src="data:image;base64,@Convert.ToBase64String(product.ProductImage.ImageData)" alt="Product Image">
                            }
                            else
                            {

                                <img src="~/images/blue_dragons.png" class="card-img-top" />
                            }
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-title d-flex flex-row">
                            <h5>@product.Name</h5>
                        </div>

                        @*TODO set tooltip for color viewer.*@

                        <div class="card-text">
                            @product.Description
                        </div>

                        <div class="btn-group-vertical product-options">

                            <button class="btn btn-outline-primary btn-group-item bi bi-pencil form-control" data-bs-toggle="modal" data-bs-target="#edit-modal-@product.ProductId">
                            </button>

                        </div>
                        <ul class="color-viewer">
                            @foreach (Color color in product.AvailableColors)
                            {
                                <li class="color-splotch" style="background-color:@color.HexValue;">
                                </li>
                            }
                        </ul>
                        <p class="color-label"><small>available colors</small></p>
                    </div>

                </div>
            </div>
            <div class="modal" tabindex="-1" id="edit-modal-@product.ProductId" aria-labelledby="modal-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-label-@product.ProductId">@product.Name</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <form method="post" asp-route-index="@index" asp-action="EditProduct" asp-controller="Product" enctype="multipart/form-data">
                                @await Html.PartialAsync("_ProductPartial", product, new ViewDataDictionary(ViewData))
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            index++;
        }
    </div>
</div>