@model MerchantVM
@{
    ViewData["Title"] = "Product management";
}

<div class="product-list-view">


    <a asp-action="AddProduct" asp-controller="Product" class="notyf__icon sticky-lg-top">New Product + &emsp;<img src="~/images/butterfly_icon.png" /></a>

    <div class="container d-flex flex-row flex-sm-wrap m-lg-5">
        @foreach (var product in Model.Products)
        {
            <div class="col">
                @Html.DisplayFor(_ => product)
            </div>
         
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas-edit-product" aria-labelledby="offcanvas-edit-productLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvas-edit-productLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <form method="post" asp-action="EditProduct" asp-controller="Product">
                        @Html.EditorFor(_ => product)
                        
                        <input type="submit" />
                    </form>
                </div>
            </div>

            <script>
                var myModal = document.getElementById('offcanvas-edit-product')
                var myInput = document.getElementById('offcanvas-edit-productLabel')
                myModal.addEventListener('shown.bs.modal', function () {
                    myInput.focus()
                })
            </script>

        }
    </div>

</div>