@model MerchantVM
@{
    ViewData["Title"] = "Product management";
}

<div class="product-list-view">


    <a asp-action="AddProduct" asp-controller="Product" class="notyf__icon sticky-lg-top">New Product + &emsp;<img src="~/images/butterfly_icon.png" /></a>


    <div class="container d-flex flex-row flex-wrap m-lg-5">
        @foreach (var product in Model.Products)
        {
            <div class="col">
                @Html.DisplayFor(_ => product)
                <a asp-action="DeletexProductAsync"></a>
            </div>

        }
    </div>

</div>